<%= content_tag_for(:a, plant, href: plant_path(plant), class: "row", data: { remote: true } ) do %>
  <div class="col-xs-8">
    <h3><%= plant.identifier.humanize %></h3>
  </div>
  <div class="col-xs-4 text-center">
    <div data-behavior="circle-progress" data-circle-value="<%= plant.moisture_points %>" data-circle-color="#5bc0de" class="plant-health-circle">
    </div>
  </div>
<% end %>
