<div id="plant-page" class="view-page" data-role="page">

  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">

        <%= line_chart graph_plant_path(@plant), min: 0, max: 1, discrete: true %>

      </div>
    </div>
  </div>

</div>
