<div id="plant-page" class="view-page" data-role="page">

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <p id="notice"><%= notice %></p>

      <h1><%= @plant.identifier %></h1>

      <table>
        <tr>
          <th>moisture</th><th>created at</th>
        </tr>
        <%= render @measurements %>
      </table>

      <%= link_to 'Back', plants_path, remote: true %>
    </div>
  </div>
</div>
</div>
