<div id="plant-page" class="view-page" data-role="page">

  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">

        <table class="table table-condensed">
          <tr>
            <th>moisture</th><th>created at</th>
          </tr>
          <%= render @measurements %>
        </table>

      </div>
    </div>
  </div>

</div>
