<div class="ios-top-statusbar-background">
</div>

<% if false %>
<nav class="navbar navbar-default navbar-custom">
  <div class="container-fluid">
    <div class="col-xs-3">
    </div>
    <div class="col-xs-6 text-center">
      <p class="navbar-text">Plants</p>
    </div>
    <div class="col-xs-3">
    </div>
  </div>
</nav>
<% end %>

<nav class="navbar navbar-default navbar-fixed-top navbar-visible navbar-custom" id="navbar-fixed">
  <div class="container-fluid">
    <div class="col-xs-3">
    </div>
    <div class="col-xs-6 text-center">
      <p class="navbar-text">Plants</p>
    </div>
    <div class="col-xs-3">
    </div>
  </div>
</nav>

<div class="container-fluid">

  <%= render @plants %>

</div>

<script type="text/javascript">
  $(document).ready(function() {
    if(navigator.standalone) {
      $("body").addClass("standalone");
    }

    $("[data-behavior=circle-progress]").each(function() {
      var circle_value = $(this).data("circle-value");
      var circle_color = $(this).data("circle-color");
      $(this).circleProgress({
        value: circle_value,
        size: 100,
        startAngle: -Math.PI / 2,
        animationStartValue: 1.0,
        fill: {
          color: circle_color
        }
      })
    })

    var touchStart = 0;

    $("body").on("touchstart", function(event) {
      touchStart = $(this).scrollTop();
    })

    $("body").on("touchmove", function(event) {
      var newScrollTop = $(this).scrollTop()

      if (newScrollTop >= touchStart && newScrollTop > 40) {
        $("#navbar-fixed").switchClass("navbar-visible", "navbar-invisible")
      } else if (newScrollTop < touchStart){
        $("#navbar-fixed").show();
        $("#navbar-fixed").switchClass("navbar-invisible", "navbar-visible")
      }
    })

    $("body").on("touchend", function(event) {
      var newScrollTop = $(this).scrollTop()

      if (newScrollTop >= touchStart && newScrollTop > 40) {
        $("#navbar-fixed").switchClass("navbar-visible", "navbar-invisible")
      } else if (newScrollTop < touchStart){
        $("#navbar-fixed").show();
        $("#navbar-fixed").switchClass("navbar-invisible", "navbar-visible")
      }
    })

  })
</script>
