<div class="ios-top-statusbar-background">
</div>

<nav class="navbar navbar-default navbar-fixed-top navbar-visible navbar-custom" id="navbar-fixed">
  <div class="container-fluid">
    <div class="col-xs-3">
    </div>
    <div class="col-xs-6 text-center">
      <div class="navbar-title">Plants</div>
    </div>
    <div class="col-xs-3">
    </div>
  </div>
</nav>

<div id="app-viewport">

  <%= render "index" %>

</div>

<script type="text/javascript">
  $(document).ready(function() {
    if(navigator.standalone) {
      $("body").addClass("standalone");
    }

    var touchStart = 0;

    $("#app-viewport").on("touchstart", function(event) {
      touchStart = $(this).scrollTop();
    })

    $("#app-viewport").on("touchmove", function(event) {
      var newScrollTop = $(this).scrollTop()

      if (newScrollTop >= touchStart && newScrollTop > 80) {
        $("#navbar-fixed").switchClass("navbar-visible", "navbar-invisible")
      } else if (newScrollTop < touchStart){
        $("#navbar-fixed").show();
        $("#navbar-fixed").switchClass("navbar-invisible", "navbar-visible")
      }
    })

    $("#app-viewport").scroll(function() {
      var newScrollTop = $(this).scrollTop()

      if (newScrollTop <= 0) {
        $("#navbar-fixed").switchClass("navbar-invisible", "navbar-visible")
      } else if (newScrollTop >= touchStart && newScrollTop > 80) {
        $("#navbar-fixed").switchClass("navbar-visible", "navbar-invisible")
      } else if (newScrollTop < touchStart){
        $("#navbar-fixed").show();
        $("#navbar-fixed").switchClass("navbar-invisible", "navbar-visible")
      }
    })

    $("#app-viewport").on("touchend", function(event) {
      var newScrollTop = $(this).scrollTop()

      if (newScrollTop <= 0) {
        $("#navbar-fixed").switchClass("navbar-invisible", "navbar-visible")
      } else if (newScrollTop >= touchStart && newScrollTop > 80) {
        $("#navbar-fixed").switchClass("navbar-visible", "navbar-invisible")
      } else if (newScrollTop < touchStart){
        $("#navbar-fixed").show();
        $("#navbar-fixed").switchClass("navbar-invisible", "navbar-visible")
      }
    })

    $("<style>").prop("type", "text/css").html("\
\
    @-webkit-keyframes slide-left {\
      from { -webkit-transform: translateX(" + $(window).width() + "px); opacity: 0;}\
      to { -webkit-transform: translateX(0px); opacity: 1; }\
    }\
\
    @-webkit-keyframes slide-right {\
      from { -webkit-transform: translateX(" + (-$(window).width()) + "px); opacity: 0;}\
      to { -webkit-transform: translateX(0px); opacity: 1; }\
    }\
\
    @-webkit-keyframes hide-left {\
      from { -webkit-transform: translateX(0px); opacity: 1; }\
      to { -webkit-transform: translateX(-40px); opacity: 0;}\
    }\
\
    @-webkit-keyframes hide-right {\
      from { -webkit-transform: translateX(0px); opacity: 1; }\
      to { -webkit-transform: translateX(40px); opacity: 0;}\
    }\
\
    .forward-page {\
      -webkit-transform: translateX(" + $(window).width() + "px);\
    }\
\
    .backward-page {\
      -webkit-transform: translateX(" + (-$(window).width()) + "px);\
    }\
\
    .view-page {\
      width: " + $(window).width() + "px; \
    }").appendTo("head")

  })
</script>
