<div class="ios-top-statusbar-background">
</div>

<nav class="navbar navbar-default navbar-fixed-top navbar-visible navbar-custom" id="navbar-fixed">
  <%= render "navbar_index" %>
</nav>

<%= render "index" %>

<script type="text/javascript">
  $(document).ready(function() {
    FastClick.attach(document.body);


      $("[data-behavior=circle-progress]").each(function() {
        var circle_value = $(this).data("circle-value");
        var circle_color = $(this).data("circle-color");
        $(this).circleProgress({
          value: circle_value,
          size: 100,
          startAngle: -Math.PI / 2,
          animationStartValue: 1.0,
          fill: {
            color: circle_color
          }
        })
      })


    if(navigator.standalone) {
      $("body").addClass("standalone");
    }

    var touchStart = 0;

    $("body").on("touchstart", function(event) {
      touchStart = $(this).scrollTop();
    })

    $("body").on("touchmove", function(event) {
      var newScrollTop = $(this).scrollTop()

      if (newScrollTop >= touchStart && newScrollTop > 80) {
        $("#navbar-fixed").switchClass("navbar-visible", "navbar-invisible")
      } else if (newScrollTop < touchStart){
        $("#navbar-fixed").switchClass("navbar-invisible", "navbar-visible")
      }
    })

    $(window).scroll(function() {
      var newScrollTop = $(this).scrollTop()

      if (newScrollTop <= 0) {
        $("#navbar-fixed").switchClass("navbar-invisible", "navbar-visible")
      } else if (newScrollTop >= touchStart && newScrollTop > 80) {
        $("#navbar-fixed").switchClass("navbar-visible", "navbar-invisible")
      } else if (newScrollTop < touchStart){
        $("#navbar-fixed").switchClass("navbar-invisible", "navbar-visible")
      }
    })

    $("body").on("touchend", function(event) {
      var newScrollTop = $(this).scrollTop()

      if (newScrollTop <= 0) {
        $("#navbar-fixed").switchClass("navbar-invisible", "navbar-visible")
      } else if (newScrollTop >= touchStart && newScrollTop > 80) {
        $("#navbar-fixed").switchClass("navbar-visible", "navbar-invisible")
      } else if (newScrollTop < touchStart){
        $("#navbar-fixed").switchClass("navbar-invisible", "navbar-visible")
      }
    })

    $("<style>").prop("type", "text/css").html("\
\
    @-webkit-keyframes slide-left {\
      from { -webkit-transform: translateX(" + $(window).width() + "px); opacity: 0; }\
      to { -webkit-transform: translateX(0px); opacity: 1; }\
    }\
\
    @-webkit-keyframes slide-right {\
      from { -webkit-transform: translateX(" + (-$(window).width()) + "px); opacity: 0;}\
      to { -webkit-transform: translateX(0px); opacity: 1; }\
    }\
\
    @-webkit-keyframes hide-left {\
      from { -webkit-transform: translateX(0px); opacity: 1; }\
      to { -webkit-transform: translateX(-40px); opacity: 0;}\
    }\
\
    @-webkit-keyframes hide-right {\
      from { -webkit-transform: translateX(0px); opacity: 1; }\
      to { -webkit-transform: translateX(40px); opacity: 0; }\
    }\
\
    .forward-page {\
      -webkit-transform: translateX(" + $(window).width() + "px);\
    }\
\
    .backward-page {\
      -webkit-transform: translateX(" + (-$(window).width()) + "px);\
    }\
\
    .view-page {\
      min-height: " + $(window).height() + "px; \
    }\
").appendTo("head")

  })
</script>

<% if false %>
.view-page { \
  width: " + $(window).width() + "px; \
  height: " + $(window).height() + "px; \
  overflow: auto; \
  -webkit-overflow-scrolling: touch; \
}
<% end %>
